<div class="w-full flex justify-center">
  <div *ngIf="firstLoad" class="m-auto flex flex-col min-w-[25rem]">
    <span [class]="styles.title + ' text-center'">Admin</span>
    <p>Enter your admin password:</p>
    <form class="grid" (submit)="checkPassword()">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          name="password"
          type="password"
          [(ngModel)]="passwordInput"
          matInput
        />
      </mat-form-field>
      <button
        type="submit"
        class="border border-transparent h-[3em] rounded-md bg-purple-500 hover:shadow-md hover:font-bold"
      >
        Submit
      </button>
    </form>
  </div>
  <div *ngIf="!firstLoad">
    <div
      *ngIf="selectedLink === null"
      class="flex flex-col lg:flex-row justify-between w-full min-h-[40rem]"
    >
      <ul
        class="bg-purple-600/70 lg:mr-14 min-w-[15em] m-auto h-fit rounded-lg text-lg p-5 shadow-lg shadow-purple-900"
      >
        <li
          *ngFor="let section of sections"
          class="text-white grid grid-cols-6 space-x-2 hover:font-bold cursor-pointer"
        >
          <div class="m-auto w-1 h-1 rounded-md bg-white"></div>
          <span class="col-span-5" (click)="editSection(section)">{{
            section
          }}</span>
        </li>
      </ul>
      <div class="m-auto w-[25em]">
        <ng-lottie [options]="options" width="100" height="100"></ng-lottie>
      </div>
    </div>
    <div>
      <div *ngIf="selectedLink === 'Experience'">
        <div class="flex flex-col">
          <ng-container *ngFor="let experience of experiences">
            <ng-container *ngFor="let item of experienceFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="experience[item.label]"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <button
              (click)="deleteExperiences(experience)"
              class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
            >
              Delete
            </button>
            <hr class="w-full my-4" />
          </ng-container>
          <button
            (click)="updateExperiences()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of experienceFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newExperience[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewExperience()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
      <div *ngIf="selectedLink === 'Education'">
        <div class="flex flex-col">
          <ng-container *ngFor="let education of educations">
            <ng-container *ngFor="let item of educationFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="education[item.label]"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <button
              (click)="deleteEducations(education)"
              class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
            >
              Delete
            </button>
            <hr class="w-full my-4" />
          </ng-container>
          <button
            (click)="updateEducations()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of educationFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newEducation[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewEducation()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
      <div *ngIf="selectedLink === 'Skills'">
        <div class="flex flex-col">
          <ng-container *ngFor="let section of skills">
            <ng-container *ngFor="let item of skillsFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="section[item.label]"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <button
              (click)="deleteSkill(section)"
              class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em] pd-1"
            >
              Delete
            </button>
            <hr class="w-full my-4" />
          </ng-container>
          <button
            (click)="updateSkills()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em] pd-2"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of skillsFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newSkill[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewSkills()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
      <div *ngIf="selectedLink === 'Hobbies'">
        <div class="flex flex-col">
          <ng-container *ngFor="let hobby of hobbies">
            <ng-container *ngFor="let item of hobbiesFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  [(ngModel)]="hobby[item.label]"
                  cdkAutosizeMaxRows="5"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <button
              (click)="deleteHobbies(hobby)"
              class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
            >
              Delete
            </button>
            <hr class="w-full my-4" />
          </ng-container>
          <button
            (click)="updateHobbies()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of hobbiesFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newHobby[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewHobby()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
      <div *ngIf="selectedLink === 'Footer'">
        <div class="flex flex-col">
          <ng-container *ngFor="let footer of footers">
            <ng-container *ngFor="let item of footerFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="footer[item.label]"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <button
              (click)="deleteFooters(footer)"
              class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
            >
              Delete
            </button>
            <hr class="w-full my-4" />
          </ng-container>
          <button
            (click)="updateFooters()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of footerFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newFooter[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewFooter()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
      <div *ngIf="selectedLink === 'Accueil'">
        <div class="flex flex-col">
          <ng-container *ngFor="let accueil of accueils">
            <ng-container *ngFor="let item of accueilFields">
              <mat-form-field>
                <mat-label>{{ item.label }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="accueil[item.label]"
                ></textarea>
              </mat-form-field>
            </ng-container>
            <hr class="w-full mb-4" />
            <ng-container
              *ngFor="
                let recommendation of accueil.recommendations;
                let i = index
              "
            >
              <ng-container *ngFor="let item of recommendationsFields">
                <mat-form-field>
                  <mat-label>{{ item.label }}</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    [(ngModel)]="
                      accueil.recommendations[i][item.fieldName.split('.')[1]]
                    "
                  ></textarea>
                </mat-form-field>
              </ng-container>
              <button
                (click)="deleteAccueils(i)"
                class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
              >
                Delete
              </button>
              <hr class="w-full my-4" />
            </ng-container>
          </ng-container>
          <button
            (click)="updateAccueils()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Update
          </button>
          <hr class="w-full my-4" />
          <ng-container *ngFor="let item of recommendationsFields">
            <mat-form-field>
              <mat-label>{{ item.label }}</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="newAccueil[item.fieldName]"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <button
            (click)="createNewAccueil()"
            class="text-white hover:font-bold shadow-md hover:shadow-purple-500 text-lg bg-purple-400 border border-transparent rounded-lg max-w-[8em] h-[2.5em]"
          >
            Create
          </button>
          <hr class="w-full my-4" />
        </div>
      </div>
    </div>
  </div>
</div>
